<div class="card border-0 p-4 bg-light" style="width:20rem">
    <div class="d-flex justify-content-center">
        <img src="https://avatars0.githubusercontent.com/u/11981549?s=460&u=c767e51fff4e822990d3460a5d72bf3e97cda83f&v=4"
            class="card-img-top rounded-circle w-75" alt="...">
    </div>
    <div class="card-body p-0">
        <h5 class="card-title text-center mt-3">Diana Coelho</h5>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <div>
            <a href="https://github.com/coelhodiana/" class="btn btn-outline-info w-100 mt-2" target="_blank">Github</a>
            <a href="https://linkedin.com/in/coelhodiana04/" class="btn btn-outline-primary w-100 mt-2 "
                target="_blank">Linkedin</a>
        </div>

    </div>
</div>